@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans:wght@200;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

/* general font setup */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1 {
  @apply text-5xl text-primary;
  font-weight: 700;
  line-height: 4rem;
}

h2 {
  @apply text-3xl;
  font-weight: 700;
}

p {
  line-height: 2rem;
}

/* section styling */
section {
  @apply py-32;
}

/* classes for navigation */
.hover-primary {
  @apply transition duration-200 hover:text-primary;
}

#nav {
  background-color: white;
}

.active {
  @apply text-primary;
}

.slidein {
  @apply fixed top-0 h-full z-50 p-16;
  background-color: white;
}
