@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans:wght@200;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

/* general font setup */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

h1 {
  @apply text-5xl text-primary;
  font-weight: 700;
  line-height: 4rem;
}

h2 {
  @apply text-3xl;
  font-weight: 700;
}

p {
  line-height: 2rem;
}

/* section styling */
section {
  @apply py-16 md:py-32;
}

/* classes for navigation */
.hover-primary {
  @apply transition duration-200 hover:text-primary;
}

/* #nav {
  --bg: #ffffff;
} */

.active {
  @apply text-primary;
}

.slidein {
  @apply fixed top-0 h-full z-50 p-16;
  background-color: white;
}

:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

#nav {
  background-color: var(--bg);
}